{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<section>
    <h1>{{ page.title }}</h1>
    {{ page.description|richtext }}
    <hr/>
    <div class="columns is-multiline">
        {% for photo_page in photos %}
            <div class="column is-desktop-3 is-tablet-6 is-mobile-12">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <a href="{% pageurl photo_page %}">
                                {% image photo_page.photo width-200 class="gallery-thumbnail" %}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <p>{{ photo_page.title }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
