{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<section>
    <h1>{{ page.title }}</h1>
    {{ page.description|richtext }}
    <hr/>
    <div class="columns is-multiline">
        {% for item in photos %}
            <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
                <a href="{% pageurl item %}">
                    <div class="card">
                        <div class="card-image">
                            {% with thumb=item.get_thumbnail %}
                                {% if thumb %}
                                    {% image thumb original class="is-fullwidth" %}
                                {% else %}
                                    <span class="icon is-large"><img src="{% static 'icons/play.svg' %}" alt="Video"/></span>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="card-content">
                            <p>{{ item.title }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
