{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-video-page{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

    <div class="row is-flex is-align-items-center is-justify-content-space-between">
        {% if previous %}
            <a href="{% pageurl previous %}">
                <img class="icon-inline" src="{% static 'icons/left.svg' %}" alt="Left Arrow"/>
            </a>
        {% endif %}
        <h2>{{ page.title }}</h2>
        {% if next %}
            <a href="{% pageurl next %}">
                <img class="icon-inline" src="{% static 'icons/right.svg' %}" alt="Right Arrow"/>
            </a>
        {% endif %}
    </div>
    
    <figure class="media-container">
        {% if page.is_video %}
            <video src="{{ page.get_media_url }}" controls width="100%" class="media-video">
                Ihr Browser unterstützt das Video-Element nicht.
            </video>
        {% elif page.is_gif %}
            <img src="{{ page.get_media_url }}" alt="{{ page.media_alt_text|default:page.title }}" class="is-fluid media-gif" />
        {% else %}
            <p>Kein Medien verfügbar</p>
        {% endif %}
        
        <figcaption>
            {{ page.description|richtext }}
            <p>Autor: {{ page.author }}</p>
            <p>Ort: {{ page.location }}</p>
            <p>Datum: {{ page.date }} {{ page.time|default_if_none:"" }}</p>
        </figcaption>
    </figure>   

{% endblock content %}
