# Intellij
/.idea/
*.iml

# Django project
/media/
/static/
*.sqlite3

# Python and others
__pycache__
*.pyc
.DS_Store
*.swp
/venv/
/tmp/
/.vagrant/
/Vagrantfile.local
node_modules/
/npm-debug.log
.vscode
coverage
.python-version

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ignore Docker related files
Dockerfile

# Ignore temporary files
tmp*

# Ignore CSS files in the following directories
/beobgrp_site/**/*.css*
/home/**/*.css*
/node_modules/
