# Intellij
/.idea/
*.iml

# Django project
/media/
/static/
*.sqlite3

# Python and others
__pycache__
*.pyc
.DS_Store
*.swp
/venv/
/tmp/
/.vagrant/
/Vagrantfile.local
node_modules/
/npm-debug.log
.vscode
coverage
.python-version

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ignore Docker related files
Dockerfile
docker-compose.yml
registry-docker-compose.yml
registry-nginx.conf

# Ignore server and development scripts
build_and_push.sh
grant_test_db_permission.sh
restore.sh
run_checks.sh
server_backup.sh
start_registry.sh
start_website.sh

# Ignore development configuration
apache_config/
development_files/
docs/

# Ignore type checking tools and configuration
mypy.ini
mypy-requirements.txt
.mypy_cache/

# Ignore temporary files
tmp*

# Ignore CSS files in the following directories
/beobgrp_site/**/*.css*
/home/**/*.css*
/node_modules/
