{% load static sass_tags wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% sass_src 'css/beobgrp_site.scss' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <header>

            <!-- Desktop Menu -->
            <nav id="desktop-nav">
                <ul>
                    {% for child in site.root_page.get_children.live.in_menu %}
                        <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>

            <!-- Mobile Menu Button -->
            <button id="mobile-menu-btn" onclick="toggleMenu()">☰</button>

            <!-- Mobile Navigation -->
            <nav id="mobile-nav">
                <ul>
                    {% for child in site.root_page.get_children.live.in_menu %}
                        <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>

        <div class="container">
            <!-- Sidebar -->
            <aside class="sidebar">
                {% block sidebar %}{% endblock %}
            </aside>

            <!-- Main Content -->
            <main id="main-content">
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>



        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/beobgrp_site.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
