// main base colors for site
$main-background: black;
$main-foreground: white;
$button-background: darken(darkblue, 12%);
$button-foreground: white;
$lower-left-background: darkblue;
$lower-right-background: black;
$event-color: darken(blue, 20%);

$background-opacity: 0.7;

.block-h1 {
  color: gold;
  margin-bottom: 0.5em;
  font-weight: bolder;
}

.block-h2 {
  color: gold;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.block-h3 {
  color: gold;
  margin-bottom: 0.25em;
}

.block-h4 {
  color: gold;
  margin-bottom: 0.25em
}

b {
  color: gold
}

// style for links
a {
  color: darken(yellow, 10%);
}


// default colors for text and background
@mixin default-colors {
  background-color: $main-background;
  color: $main-foreground;
}

// style for all buttons
@mixin button-style {
  background-color: $button-background;
  color: $button-foreground;
  font-size: 1em
}

@mixin border-style {
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
}


// style for active buttons
@mixin button-style-active {
  background-color: lighten($button-background, 20%);
  color: lighten($button-foreground, 20%);
  font-size: 1em
}





// top part style
.top-part {
  @include border-style
}

#banner {
  background-image: url('/static/images/banner.jpg');
  background-repeat: no-repeat
}

// left part style
.main-content {

  background: linear-gradient(rgba(0, 0, 0, $background-opacity), rgba(0, 0, 0, $background-opacity)),
  url('/static/images/Background_Oststernwarte_1600.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @include border-style
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  @include default-colors;
  @include border-style
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #333;
  color: #fff;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

#desktop-nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

#desktop-nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Mobile Menu */
.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

/* Hide Mobile Navigation by Default */
#mobile-nav {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
}

#mobile-nav ul {
  list-style: none;
  padding: 1em;
}

#mobile-nav ul li a {
  display: block;
  color: #fff;
  padding: 0.5em;
  text-decoration: none;
}

/* When checkbox is checked, show the mobile menu */
.menu-toggle:checked + .menu-icon + #mobile-nav {
  display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
  #desktop-nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

