// Custom Variables
$primary: gold;
$link: darken(yellow, 10%);
$text-strong: white;
$text: white;
$background: black;

// other colors
$content-background-color: #08286c;
$aside-background-color: #0c358e;

// Navbar
$navbar-background-color: #333;
$navbar-item-color: white;

// Buttons
$button-color: white;
$button-background-color: darken(darkblue, 12%);

$background-opacity: 0.7;

@use "bulma/sass" with (
  $background: black,
);

// html, body {
//   background: linear-gradient(rgba(0, 0, 0, $background-opacity), rgba(0, 0, 0, $background-opacity)),
//     url('/static/images/Background_Oststernwarte_1600.jpg') no-repeat center fixed;
//   background-size: cover;
//   color: $text;
// }

.block-h1, h1 {
  @extend .title;
  @extend .is-2;
  color: gold;
}

.block-h2, h2 {
  @extend .title;
  @extend .is-3;
  color: gold;
}

.block-h3, h3 {
  @extend .title;
  @extend .is-4;
  color: gold;
}

.block-h4, h4 {
  @extend .title;
  @extend .is-5;
  color: gold;
}

.block-h5, h5 {
  @extend .title;
  @extend .is-6;
  color: gold;
}


.navbar {
  min-height: 5rem; // Increase navbar height for larger logo

  @media (max-width: 1024px) {
    min-height: 3rem; // Adjust for tablets
  }

  @media (max-width: 768px) {
    min-height: 2.5rem; // Adjust for mobile
  }
}

.navbar-logo {
  @extend .navbar-item;
  display: flex;
  align-items: center; // Ensure vertical alignment
  padding: 0; // Remove extra padding

  img {
    max-height: 4rem; // Increase logo size
    width: auto; // Maintain aspect ratio
  }
}

.content-column {
  @extend .column;
  background-color: $content-background-color;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.aside-column {
  @extend .content-column;
  background-color: $aside-background-color;
  padding: 0.5rem;
  border-radius: 0.5rem;
}