{% load wagtailimages_tags %}

<div class="block-image-with-caption image-caption-{{ value.caption_position }}">
    {% if value.link %}
        <a href="{{ value.link }}" target="_blank" rel="noopener" class="image-link">
    {% endif %}
    
    {% if value.caption_position == 'top' and value.caption %}
        <div class="image-caption caption-top">
            {{ value.caption }}
        </div>
    {% endif %}
    
    {% if value.caption_position == 'left' or value.caption_position == 'right' %}
        <div class="columns is-mobile is-gapless">
            {% if value.caption_position == 'left' and value.caption %}
                <div class="column is-two-thirds">
                    <div class="image-caption caption-left">
                        {{ value.caption }}
                    </div>
                </div>
                <div class="column is-one-third">
                    {% if value.image %}
                        {% image value.image width-400 alt=value.caption|default:value.image.title class="image-responsive" %}
                    {% endif %}
                </div>
            {% else %}
                <div class="column is-one-third">
                    {% if value.image %}
                        {% image value.image width-400 alt=value.caption|default:value.image.title class="image-responsive" %}
                    {% endif %}
                </div>
                {% if value.caption_position == 'right' and value.caption %}
                    <div class="column is-two-thirds">
                        <div class="image-caption caption-right">
                            {{ value.caption }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <div class="image-wrapper">
            {% if value.image %}
                {% image value.image width-800 alt=value.caption|default:value.image.title class="image-responsive" %}
            {% endif %}
        </div>
    {% endif %}
    
    {% if value.caption_position == 'bottom' and value.caption %}
        <div class="image-caption caption-bottom">
            {{ value.caption }}
        </div>
    {% endif %}
    
    {% if value.link %}
        </a>
    {% endif %}
</div>