{% load wagtailimages_tags %}

<div class="block-image-with-caption image-caption-{{ value.caption_position }}">
    {% if value.link %}
        <a href="{{ value.link }}" target="_blank" rel="noopener" class="image-link">
    {% endif %}
    
    {% if value.caption_position == 'top' and value.caption %}
        <div class="image-caption caption-top">
            {{ value.caption }}
        </div>
    {% endif %}
    
    <div class="image-container{% if value.caption_position == 'left' or value.caption_position == 'right' %} is-flex{% endif %}">
        {% if value.caption_position == 'left' and value.caption %}
            <div class="image-caption caption-left">
                {{ value.caption }}
            </div>
        {% endif %}
        
        <div class="image-wrapper">
            {% if value.image %}
                {% image value.image fill-800x600 as img %}
                <img src="{{ img.url }}" alt="{{ value.caption|default:img.alt }}" 
                     width="{{ img.width }}" height="{{ img.height }}" class="image-responsive" />
            {% endif %}
        </div>
        
        {% if value.caption_position == 'right' and value.caption %}
            <div class="image-caption caption-right">
                {{ value.caption }}
            </div>
        {% endif %}
    </div>
    
    {% if value.caption_position == 'bottom' and value.caption %}
        <div class="image-caption caption-bottom">
            {{ value.caption }}
        </div>
    {% endif %}
    
    {% if value.link %}
        </a>
    {% endif %}
</div>